<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/list.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

</head>
<body>
<h1>Create transaction</h1>
<p>
    <a href="/transactions">transaction list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/transactions/create}" th:object="${transaction}" method="post">
    <table>
        <tr>
            <td>mã giao dịch</td>
            <td><input type="text" th:field="*{id}" placeholder="MGX-0000"/></td>
        </tr>
        <tr>
        <tr>
            <td>tên khách hành</td>
            <td>
                <select th:field="*{customer.id}">
                    <option th:each="c: ${customers}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>

            </td>
        </tr>
        <tr>
            <td>loại bất sản</td>
            <td>
                <select th:field="*{serviceType.id}">
                    <option th:each="type : ${typeList}" th:value="${type.id}" th:text="${type.name}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>này giao dịch</td>
            <td>
                <div class="modal-body">
                <p>Enter Date: <input type="text" id="datepicker-1"></p>
            </div>
            </td>
        </tr>

        <tr>
            <td>đơn Giá(Vnd)</td>
            <td><input type="text" th:field="*{unitPrice}" placeholder="Minimum: 50$ "/></td>
        </tr>
        <tr>
        <tr>
            <td>diện tích(m2)</td>
            <td><input type="text" th:field="*{acreage}" placeholder="Minimum: 20m2 "/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create transaction"></td>
        </tr>
    </table>
</form>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


<script>
    $(function () {
        $("#datepicker-1").datepicker();
    });

</script>
</body>
</html>